<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/home/src/consulta_cliente.js" defer></script>
    <script src="/home/src/deleta_cliente.js" defer></script>
    <script src="/home/src/todos_clientes.js" defer></script>
    <title>Página de Consulta</title>

    <!--CSS-->
    <link rel="stylesheet" href="/home/assets/css/searchBox.css">
    <link rel="stylesheet" href="/home/assets/css/searchBox.css">
    <link rel="stylesheet" href="/home/assets/css/navbar.css">

    <!--JAVASCRIPT DE OUTRO SITE-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>

    <!--MENU DE NAVEGAÇÃO-->

    <div class="wrapper">
        <div class="sidebar">            
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>
                        Página inicial</a></li>
                <li>
                    <a href="/form">Cadastrar Cliente</a>
                </li>
                <li>
                    <a onclick="todos_clientes()" style="cursor: pointer">Todos os Cliente</a>
                </li>
                <li>
                    <a onclick="deleta_cliente()" style="cursor: pointer">Deletar Cliente</a>
                </li>
                
            </ul>
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <!--CABEÇALHO DA PÁGINA-->

        <div class="main_content">
            <div class="header"> Consulta de Clientes Cadastrados </div>

            <!--BARRA DE PESQUISA-->

            <div class="search-box">
                <input class="search-txt" type="text" placeholder="Consulta de cliente cadastrado" id="cpf_cnpj">
                <button class="search-btn" onclick="consulta_cliente()">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <!--CONTEÚDO DA PESQUISA-->

            <div class="info" id="query_content">  
            </div>
        </div>
    </div>

</body>

</html>